In [28]:
import requests
import pandas
from dateutil import parser
host = 'http://18.188.56.207:9200/'
requests.get(host + '_cat/indices/enron').content

b'yellow open enron hx953BgoS_6ZauhtpXzk4Q 1 1 237964 0 525.5mb 525.5mb\n'

In [ ]:
doc = {
    "query" : {
        "match_all" : {}
    }
}
import json
r=requests.get(host + 'enron/_search', data=json.dumps(doc), headers={'Content-Type':'application/json'})
print(len(r.json()['hits']['hits']))

10

In [ ]:
def elasticsearch_results_to_df(results):
    '''
    A function that will take the results of a requests.get 
    call to Elasticsearch and return a pandas.DataFrame object 
    with the results 
    '''
    hits = results.json()['hits']['hits']
    data = pandas.DataFrame([i['_source'] for i in hits], index = [i['_id'] for i in hits])
    data['date'] = data['date'].apply(parser.parse)
    return(data)

def print_df_row(row):
    '''
    A function that will take a row of the data frame and print it out
    '''
    print('____________________')
    print('RE: %s' % row.get('subject',''))
    print('At: %s' % row.get('date',''))
    print('From: %s' % row.get('sender',''))
    print('To: %s' % row.get('recipients',''))
    print('CC: %s' % row.get('cc',''))
    print('BCC: %s' % row.get('bcc',''))
    print('Body:\n%s' % row.get('text',''))
    print('____________________')

In [ ]:
# Put elasticsearch results into a pandas.DataFrame object
df = elasticsearch_results_to_df(r)
print(df)
print_df_row(df.iloc[0])

                         date  ...                                                bcc
304 2001-10-19 01:21:49+00:00  ...                                                NaN
305 2001-02-16 15:53:00+00:00  ...                                                NaN
306 2001-04-02 01:41:00+00:00  ...                                                NaN
307 1999-11-18 04:10:00+00:00  ...                                                NaN
308 2001-09-10 20:06:22+00:00  ...                                                NaN
309 2002-02-01 20:34:12+00:00  ...                            chris.gaskill@enron.com
310 2001-10-30 00:26:08+00:00  ...                                                NaN
311 2002-02-25 19:51:13+00:00  ...                                                NaN
312 2000-09-20 16:08:00+00:00  ...            west.ga@enron.com  roger.yang@enron.com
313 2001-08-27 22:11:16+00:00  ...  terry.kowalke@enron.com  steven.january@enron....

[10 rows x 7 columns]
____________________
RE: confidential
At: 2001-10-19 01:21:49+00:00
From: louise.kitchen@enron.com
To: john.sherriff@enron.com
CC: nan
BCC: nan
Body:
Heads Up, I spoke to Jonathon this evening.  I confirmed that Dynegy had been speaking to Eric Shaw at length.  I think the only reason Jonathan got the job was that he asked for less money.
Speak soon
L
____________________

In [ ]:
# Query For a full text match in the "text" field
# Uses the "match" query: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query.html
doc = {
    "query": {
        "match" : {
            "text" : "important reporting"
        } 
    },
    "from" : 0, # Starting message to return. 
    "size" : 2000, # Return this many messages. Can't be more than 10,000
}
r=requests.get(host + 'enron/_search',
               data=json.dumps(doc), headers={'Content-Type':'application/json'})
r.raise_for_status()
print("Found %s messages matching the query, of " % r.json()['hits']['total'])
df = elasticsearch_results_to_df(r)
print("Returned %s messages" % df.shape[0])
print_df_row(df.iloc[0])

Found {'value': 833, 'relation': 'eq'} messages matching the query, of
Returned 833 messages
____________________
RE: RE: Reporting replication issue is now fixed
At: 2001-10-09 17:27:21+00:00
From: lynn.blair@enron.com
To: gerry.medeles@enron.com  jennifer.lowry@enron.com  group.dl-ets@enron.com
CC: nan
BCC: nan
Body:
	Thanks Gerry.  I did not pick up on that.  Lynn

 -----Original Message-----
From: 	Medeles, Gerry
Sent:	Tuesday, October 09, 2001 12:13 PM
To:	Blair, Lynn; Lowry, Jennifer ; DL-ETS TMS Modification Group
Subject:	RE: Reporting replication issue is now fixed

This was an issue for testing in model office.  It did not affect production.

 -----Original Message-----
From: 	Blair, Lynn
Sent:	Tuesday, October 09, 2001 12:11 PM
To:	Lowry, Jennifer ; DL-ETS TMS Modification Group
Subject:	RE: Reporting replication issue is now fixed

	Jennifer, how long has this been a problem?  Is there a concern we have caused
	customers problems in nominating due to bad information?  Thanks. Lynn

 -----Original Message-----
From: 	Lowry, Jennifer
Sent:	Tuesday, October 09, 2001 10:11 AM
To:	DL-ETS TMS Modification Group
Subject:	Reporting replication issue is now fixed


Yesterday we noticed a problem where reports were not reporting on the correct cycle, or were not picking up information between cycles.  As it turns out, an important table was not being replicated from the application database to the reporting database.

I was told that this problem has been fixed, and on first inspection of the tables, everything looks correct.
____________________

In [ ]:
# Query For a text match in the "text" or "subject" fields. Uses the multi-match query:
# https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-multi-match-query.html
doc = {
  "query": {
    "multi_match" : {
      "query":    "settlement", 
      "fields": [ "subject", "text" ] 
    }
  }
}
r=requests.get(host + 'enron/_search',
               data=json.dumps(doc), headers={'Content-Type':'application/json'})
r.raise_for_status()
print("Found %s messages matching the query, of " % r.json()['hits']['total'])
df = elasticsearch_results_to_df(r)
print("Returned %s messages" % df.shape[0])
print_df_row(df.iloc[9])

Found {'value': 281, 'relation': 'eq'} messages matching the query, of
Returned 10 messages
____________________
RE: RE: ENS - Draft Form of Acceptance
At: 2001-11-27 09:18:22+00:00
From: krzysztof.forycki@enron.com
To: ed.cattigan@enron.com  jarek.astramowicz@enron.com  adam.overfield@enron.com  anne.edgley@enron.com  lloyd.wantschek@enron.com  james.derrick@enron.com
CC: jacek.glowacki@enron.com  sophie.martin@enron.com  christian.hackett@enron.com  carys.willott@enron.com  brian.muscroft@enron.com  e..parrish@enron.com
BCC: jacek.glowacki@enron.com  sophie.martin@enron.com  christian.hackett@enron.com  carys.willott@enron.com  brian.muscroft@enron.com  e..parrish@enron.com
Body:
I agree with Ed proposal to accept the settlement.

Kris

-----Original Message-----
From: Cattigan, Ed
Sent: 26 November 2001 15:30
To: Astramowicz, Jarek; Overfield, Adam; Forycki, Krzysztof; Edgley,
Anne; Wantschek, Lloyd; Derrick Jr., James
Cc: Glowacki, Jacek; Martin, Sophie; Hackett, Christian; Willott, Carys;
Muscroft, Brian; Parrish, Paul E.
Subject: FW: ENS - Draft Form of Acceptance


Good Afternoon

Attached are 2 documents in relation to final Settlement of the outstanding Delay in Start up (relating to the replacement of the previously damaged rotor) claim. One is a detailed history of the claim and the other a final acceptance notice proposed by the brokers.

I have been negotiating the outstanding portion of the claim now for nearly 9 months and believe that due to the circumstance surrounding the late delivery of the rotor and the advice of external council this settlement is acceptable to ENS. Will you please advise wether you agree with accepting this sum as full and final settlement.

In way of context this settlement is $750k of a possible $901k an 83% success on a claim we had been advised would not have been worth taking to arbitration if the insurers had become difficult.

regards

Ed

Sophie. Could you please confirm that you are happy with the wording of the acceptance notice.
NOTE I would really like to complete this by Wednesday this week as this is my last week.


-----Original Message-----
From: BODIMEADE, Alfred [mailto:ABodimeade@heathlambert.com]
Sent: 26 November 2001 10:34
To: 'Ed Cattigan'
Subject: FW: ENS - Draft Form of Acceptance


Ed
Let me know a.s.a.p. if you have any problem.
I think the figures are correct.
Alf
____________________

In [ ]:
# "OR" query for two phrase matches. Generally you get fancy query parsing with this:
# https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html
doc = {
    "query": {
        "query_string" : {
            "default_field" : "text",
            "query" : "(reach a settlement) OR (continue to pursue)" 
        }
    }
}
r=requests.get(host + 'enron/_search',
               data=json.dumps(doc), headers={'Content-Type':'application/json'})
r.raise_for_status()
print("Found %s messages matching the query" % r.json()['hits']['total']['value'])
df = elasticsearch_results_to_df(r)
print("Returned %s messages" % df.shape[0])
print_df_row(df.iloc[0])

Found 10000 messages matching the query, of
Returned 10 messages
____________________
RE: Settlement Conversation Recap
At: 2002-05-02 18:26:52+00:00
From: michael.bridges@enron.com
To: koikosp@talgov.com
CC: chris.germany@enron.com
BCC: chris.germany@enron.com
Body:
Hi Pete,

Wanted to recap our conversation yesterday, update you on our timing and get you my contact information.

Regarding a possible settlement, it appears to me that this is a concept that you have considered and are willing to pursue.  We will have a valuation of the contract for you Monday.  It is my suggestion that you review the proposal, make sure that you agree with the outstanding transactions and complete your own valuation.  Once we have agreed on the universe of transactions, you and I will discuss and finalize a settlement amount that we are comfortable will be approved by the creditor committee and bankruptcy judge.

From this point, Enron will begin the process of filing a motion for settlement and schedule an appropriate hearing date for the judge to rule.  Please seek bankruptcy council to determine if it will be necessary for a representative from your company to attend and, as well, to be comfortable with the process.

Finally, we will provide you a sample Release Letter for your review.  We will seek your comments, if any, prior to the hearing date.  After the settlement motion is filed, we would ask that there are no more document or value negotiations in order to expedite closure.

All of that said, concurrently, in case you and I are not able to reach agreement on a settlement amount, we are going to take the first step in an auction process.  This means that I am going to send you a procedural Notice of an anticipated auction to sell your contract as we discussed yesterday.  It is our desire to settle this prior to an auction taking place.  The settlement process is our preferred route of resolution.  Please call me if you have any questions regarding this.

Please, call me with any questions and let's work hard at keeping an open dialog so that we can resolve this to both of our mutual benefits.  I have included my contact information at the end of this email-- if you could return this email with your mailing address, I would appreciate it.  Also, I look forward to working with you through this process, and finally, thank you for your time and attention to this matter.

Sincerely,

Mike Bridges



Mike Bridges
phone:  713-345-4079
fax:	713-646-3037
email:	michael.bridges@enron.com

1400 Smith Street
ECN 0602d
Houston, TX 77002
____________________

In [ ]:
df.iloc[9]

date                                  2001-05-31 11:21:00+00:00
recipients    lisa.mellencamp@enron.com  mary.heinitz@enron....
sender                                      kate.cole@enron.com
subject                     FW: Sale of East Coast Power L.L.C.
text          Please note that an additional subsidiary was ...
Name: 21281, dtype: object

In [ ]:
# Do a count of all documents in the database by month
doc = {
    "aggs" : {
        "aggregation_var_name" : {
            "date_histogram" : {
                "field" : "date",
                "interval" : "month"
            }
        }
    }
}
r=requests.get(host + 'enron/_search',
               data=json.dumps(doc), headers={'Content-Type':'application/json'})
r.raise_for_status()
def aggregation_to_df(response,var_name='aggregation_var_name'):
    r = response.json()
    r['aggregations'][var_name]
    df = pandas.DataFrame(r['aggregations'][var_name]['buckets'])
    df['date'] = df['key_as_string'].apply(parser.parse)
    df = df[(df['date'] >= '1999-01-1') & (df['date'] < '2002-07-01')]
    df = df[['date','doc_count']]
    return df
df = aggregation_to_df(r)
print(df)

                         date  doc_count
228 1999-01-01 00:00:00+00:00          8
229 1999-02-01 00:00:00+00:00          1
230 1999-03-01 00:00:00+00:00          7
231 1999-04-01 00:00:00+00:00          2
232 1999-05-01 00:00:00+00:00         35
233 1999-06-01 00:00:00+00:00         24
234 1999-07-01 00:00:00+00:00         45
235 1999-08-01 00:00:00+00:00         41
236 1999-09-01 00:00:00+00:00         74
237 1999-10-01 00:00:00+00:00         67
238 1999-11-01 00:00:00+00:00         64
239 1999-12-01 00:00:00+00:00        131
240 2000-01-01 00:00:00+00:00        200
241 2000-02-01 00:00:00+00:00        245
242 2000-03-01 00:00:00+00:00        261
243 2000-04-01 00:00:00+00:00        289
244 2000-05-01 00:00:00+00:00        328
245 2000-06-01 00:00:00+00:00        512
246 2000-07-01 00:00:00+00:00        449
247 2000-08-01 00:00:00+00:00        641
248 2000-09-01 00:00:00+00:00        711
249 2000-10-01 00:00:00+00:00        796
250 2000-11-01 00:00:00+00:00       1089
251 2000-12-01 00:00:00+00:00       1021
252 2001-01-01 00:00:00+00:00        840
253 2001-02-01 00:00:00+00:00        805
254 2001-03-01 00:00:00+00:00       1081
255 2001-04-01 00:00:00+00:00       1369
256 2001-05-01 00:00:00+00:00       1714
257 2001-06-01 00:00:00+00:00       1138
258 2001-07-01 00:00:00+00:00        704
259 2001-08-01 00:00:00+00:00        849
260 2001-09-01 00:00:00+00:00        905
261 2001-10-01 00:00:00+00:00       2790
262 2001-11-01 00:00:00+00:00       2213
263 2001-12-01 00:00:00+00:00        984
264 2002-01-01 00:00:00+00:00       1603
265 2002-02-01 00:00:00+00:00        637
266 2002-03-01 00:00:00+00:00        310
267 2002-04-01 00:00:00+00:00         96
268 2002-05-01 00:00:00+00:00         66
269 2002-06-01 00:00:00+00:00         84

In [ ]:
# Do a count of all documents matching a query by month
doc = {
    "query": {
        "match" : {
            "text" : "important reporting"
        }
    },
    "aggs" : {
        "aggregation_var_name" : {
            "date_histogram" : {
                "field" : "date",
                "interval" : "month"
            }
        }
    }
}
r=requests.get(host + 'enron/_search',
               data=json.dumps(doc), headers={'Content-Type':'application/json'})
r.raise_for_status()
df = aggregation_to_df(r)
print(df)

                         date  doc_count
228 1999-01-01 00:00:00+00:00          2
229 1999-02-01 00:00:00+00:00          0
230 1999-03-01 00:00:00+00:00          0
231 1999-04-01 00:00:00+00:00          0
232 1999-05-01 00:00:00+00:00          4
233 1999-06-01 00:00:00+00:00          0
234 1999-07-01 00:00:00+00:00          3
235 1999-08-01 00:00:00+00:00          1
236 1999-09-01 00:00:00+00:00          2
237 1999-10-01 00:00:00+00:00          0
238 1999-11-01 00:00:00+00:00          5
239 1999-12-01 00:00:00+00:00          6
240 2000-01-01 00:00:00+00:00          6
241 2000-02-01 00:00:00+00:00         14
242 2000-03-01 00:00:00+00:00         16
243 2000-04-01 00:00:00+00:00          4
244 2000-05-01 00:00:00+00:00         14
245 2000-06-01 00:00:00+00:00         19
246 2000-07-01 00:00:00+00:00         21
247 2000-08-01 00:00:00+00:00         35
248 2000-09-01 00:00:00+00:00         31
249 2000-10-01 00:00:00+00:00         39
250 2000-11-01 00:00:00+00:00         52
251 2000-12-01 00:00:00+00:00         46
252 2001-01-01 00:00:00+00:00         30
253 2001-02-01 00:00:00+00:00         26
254 2001-03-01 00:00:00+00:00         52
255 2001-04-01 00:00:00+00:00         53
256 2001-05-01 00:00:00+00:00        112
257 2001-06-01 00:00:00+00:00         68
258 2001-07-01 00:00:00+00:00         52
259 2001-08-01 00:00:00+00:00         42
260 2001-09-01 00:00:00+00:00         65
261 2001-10-01 00:00:00+00:00        174
262 2001-11-01 00:00:00+00:00        141
263 2001-12-01 00:00:00+00:00         48
264 2002-01-01 00:00:00+00:00         82
265 2002-02-01 00:00:00+00:00         28
266 2002-03-01 00:00:00+00:00         10
267 2002-04-01 00:00:00+00:00          1
268 2002-05-01 00:00:00+00:00          1
269 2002-06-01 00:00:00+00:00          6

In [ ]:
# Search an exact match in a specific feild
doc = {
    "query": {
        "match" : {
            "recipients" : "stephen.schwarzbach@enron.com"
        } 
    },
}
r=requests.get(host + 'enron/_search',
               data=json.dumps(doc), headers={'Content-Type':'application/json'})
r.raise_for_status()
print("Found %s messages matching the query, of " % r.json()['hits']['total']['value'])
df = elasticsearch_results_to_df(r)
print("Returned %s messages" % df.shape[0])
print_df_row(df.iloc[0])

Found 3 messages matching the query, of
Returned 3 messages
____________________
RE: Data Request
At: 2001-03-23 22:13:53+00:00
From: thomas.meers@enron.com
To: stephen.schwarzbach@enron.com
CC: tracy.geaccone@enron.com
BCC: tracy.geaccone@enron.com
Body:

Steve,

The attached files contain the headcount and G&A costs information you requested based on the 2001 Plan.  My apologies for not getting this to you sooner.  Please note that this information is representative of the three Clean Fuels companies but is based on my interpretation of what you wanted included within a particular line item.  Feel free to call me with any questions or comments you may have regarding this data.

Thanks,
	Tom Meers   X54899




____________________